nav{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 12px;
    height: 2rem;
    margin: 6px 0 !important;

}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
